/* Reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* main css */

body {
  padding: 24px;
  max-width: 768px;
  margin: 0 auto;

  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 12px;
}

/* Typeography */

h1 {
  font-size: 28px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 12px;
  line-height: 20px;
}

a {
  text-decoration: none;
}

/* helpers */
.tac {
  text-align: center;
}

.bold {
  font-weight: 600;
}

.pv1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.pr1 {
  padding-right: 8px;
}

.pb1 {
  padding-bottom: 8px;
}

.pb2 {
  padding-bottom: 16px;
}

.p1 {
  padding: 8px;
}

.ml1 {
  margin-left: 8px;
}

.ml3 {
  margin-left: 24px;
}

.bp {
  list-style-type: disc;
}

/* classes */

.avatarContainer {
  display: flex;
  justify-content: center;
}

.avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.socialMedia > li > a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.block {
  padding: 20px 0;
}
